@model MyShop.Core.ProductListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<div class="col-md-12">
    <div class="col-md-2">
        <h4>Filter By Category</h4>
        <div class="list-group">

            @Html.ActionLink("All Items", "Index", null, new {@class= Request["Category"]==null? "list-group-item active":"list-group-item" })

            @foreach (var category in Model.ProductCategories)
            {
               @Html.ActionLink(category.CategoryName,"Index",new { Category = category.CategoryName }, new { @class = Request["Category"] == category.CategoryName ? "list-group-item active" : "list-group-item" })  
            }


        </div>
    </div>
    <div class="col-md-10">

        @foreach (var item in Model.Products)
        {

            <div class="col-md-4" style="height:350px;padding:10px;margin:10px;border:solid thin whitesmoke;border-radius:3px;">

                <div class="col-md-12">

                    <div class="col-md-12"><img style="height:200px;" src="~/Content/ProductImages/@item.Image" /></div>
                    <div class="col-md-6"><h4>@item.Name</h4></div><div class="col-md-6"><h4>@item.Price</h4></div>
                    <div><p class="col-md-12">@Html.ActionLink(item.Description, "ItemDetails", new { Id = item.Id })</p></div>
                </div>
                <div class="col-md-12"><button class="btn btn-danger">Add to Cart</button></div>
            </div>


        }

    </div>
</div>
<div class="col-md-12 clearfix"/> 

