@model MyShop.Core.Models.Product

@{
    ViewBag.Title = "ItemDetails";
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <div class="col-md-12">
        <div class="col-md-5" style="height:450px;">
            <img style="width:300px;"src="~/Content/ProductImages/@Model.Image" />
        </div>
        <div class="col-md-7" style="height:450px;">
            <h5>@Model.Description</h5>
            <h3>@Model.Price</h3>
            <div class="col-md-12">
            <a class="btn btn-danger" href="@Url.Action("AddToBasket","Basket", new { Id = Model.Id })">Add to Cart</a></div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="col-md-12 clearfix" /> 